In [118]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [119]:
#importing necessary packages#
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [152]:
from sklearn import linear_model as lm
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [121]:
#reading teh train and test files and saving them as pandas dataframe#
train_df = pd.read_csv('../input/train.csv')
test_df = pd.read_csv('../input/test.csv')

In [122]:
#dimensions of the input data#
print("Train dataframe shape is: ", train_df.shape)
print("Test dataframe shape is: ", test_df.shape)

In [123]:
#name of the columns#
train_df.columns

In [91]:
test_df.columns

In [92]:
#checking the first 10 rows#
train_df.head(10)

In [93]:
#getting the summary statistics of the numerical columns#
train_df.describe()

In [94]:
#getting the data types of all columns#
train_df.dtypes

In [95]:
#more information about the dataset#
train_df.info()

In [96]:
test_df.info()

The columns that have null values in both the train & test df are : 

Age
Cabin
Embarked

Since Cabin has only 204 non-null objects out of 891 in the train_df, therefore it is a good idea to drop the Cabin column from both dataframes

In [124]:
#dropping the Cabin variable
train_df.drop(['Cabin'], axis = 1, inplace = True)
test_df.drop(['Cabin'], axis = 1, inplace = True)

Plots using seaborn: Lets plot the given variables in order to see their distribution

In [125]:
sns.countplot(x = train_df['Survived'])

In [126]:
sns.countplot(x = 'Survived', hue = 'Sex', data = train_df)

In [127]:
sns.countplot(x = 'Survived', hue = 'Pclass', data = train_df)

In [128]:
sns.distplot(train_df['Age'].dropna(), kde = False, bins = 30)

In [129]:
sns.countplot(x = 'SibSp', data = train_df)

In [130]:
train_df['Fare'].hist()

In [131]:
train_df['Fare'].hist(bins = 40, figsize = (10,4))

In [132]:
plt.figure(figsize = (10,7))
sns.boxplot( x = 'Pclass', y = 'Age', data = train_df)

Imputing the missing values in the Age column with respect to the Pclass they belonged to.
From the above plot, we can get  the average age of the people in each class...Lets write a function to replace the null values with the average age.

In [133]:
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):
        
        if Pclass == 1:
            return 37
        elif Pclass == 2:
            return 29
        else:
            return 24
        
    else:
        return Age

In [134]:
train_df['Age'] = train_df[['Age', 'Pclass']].apply(impute_age, axis = 1)

In [135]:
#lets check the missing vaues now
sns.heatmap(train_df.isnull(), yticklabels = False, cbar = False, cmap = 'viridis')

In [136]:
#Converting Categorical variables to Indicator variables
sex = pd.get_dummies(train_df['Sex'], drop_first = True)

In [137]:
embark = pd.get_dummies(train_df['Embarked'], drop_first = True)

In [138]:
# adding the 2 new columns to the dataframe
train_df = pd.concat([train_df, sex, embark], axis = 1)

In [139]:
train_df.head()

In [140]:
#dropiing the columns not needed anymore
train_df.drop(['Sex', 'Embarked', 'Name', 'Ticket'], axis = 1, inplace = True)

In [141]:
train_df.head(5)

In [142]:
train_df.drop(['PassengerId'], axis = 1, inplace = True)

In [143]:
train_df.head(5)

In [144]:
#Considering train_df as our entire data and splitting it into training & testing dataset
X = train_df.drop('Survived', axis = 1)
y = train_df['Survived']

In [145]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 101)

In [147]:
logmodel =  lm.LogisticRegression()

In [148]:
logmodel.fit(X_train, y_train)

In [149]:
predictions = logmodel.predict(X_test)

In [151]:
print(classification_report(y_test, predictions))

In [153]:
confusion_matrix(y_test, predictions)